// Define variable defaults

// Color system

$white: #fff !default;
$gray-100: #f9f9f9 !default;
$gray-200: #f4f4f4 !default;
$gray-300: #dbdbdb !default;
$gray-400: #b4b4b4 !default;
$gray-500: #929292 !default;
$gray-600: #696969 !default; // Line footer color
$gray-700: #565656 !default; // Line p color
$gray-800: #3a3a3a !default; // Line heading color
$gray-900: #1a1a1a !default;
$black: #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    '100': $gray-100,
    '200': $gray-200,
    '300': $gray-300,
    '400': $gray-400,
    '500': $gray-500,
    '600': $gray-600,
    '700': $gray-700,
    '800': $gray-800,
    '900': $gray-900
  ),
  $grays
);

$blue: #3b82f6 !default;
$indigo: #6366f1 !default;
$purple: #b069f1 !default;
$pink: #fc93c9 !default;
$red: #f35353 !default;
$orange: #f39f5b !default;
$yellow: #fde361 !default;
$green: #1cc459 !default;
$teal: #2bcab5 !default;
$cyan: #15f5f5 !default;

$colors: () !default;
$colors: map-merge(
  (
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'green': $green,
    'teal': $teal,
    'cyan': $cyan,
    'white': $white,
    'gray': $gray-600,
    'light': $gray-400,
    'lighter': $gray-200,
    'gray-dark': $gray-800
  ),
  $colors
);

$default: #0284c7 !default;
$primary: #0ea5e9 !default;
$secondary: #5abbfc !default;
$success: $green !default;
$info: $teal !default;
$warning: $orange !default;
$danger: $red !default;
$light: $gray-500 !default;
$dark: $gray-900 !default;
$darker: darken($gray-900, 15%) !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    'default': $default,
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'warning': $warning,
    'danger': $danger,
    'white': $white,
    'neutral': $white,
    'description': $gray-700,
    'assistant': $gray-800,
    'lighter': $gray-200,
    'dark': $dark,
    'darker': $darker
  ),
  $theme-colors
);

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// General style overrides and custom classes: BEM(Block Element Modifier)
.main-wrapper {
  padding-bottom: 1rem;
}
.todosapp-logo {
  font-size: 1.25rem;
}
.todosapp-filterdropdwon__menu {
  width: 132px;
  min-width: 132px;
  .todosapp-filterdropdwon__menuitem {
    .dropdown-item {
      font-weight: 700;
      color: $gray-600;
    }
    .dropdown-item:disabled {
      font-weight: 500;
      color: $gray-300;
    }
  }
}
.todosapp-container {
  max-width: 640px;
}
.todosapp-createbutton {
  margin-top: -2rem;
  svg {
    margin-right: 4px;
  }
}
.todosapp-header {
  h2 {
    color: $gray-600;
    font-weight: 700;
  }
}
.todosapp-card {
  position: relative;
  background-color: $white;
  .card-title {
    margin-bottom: 0.2rem;
    font-size: 1.25rem;
    color: $gray-800;
  }
  .card-text {
    color: $gray-700;
    white-space: pre-line;
    margin-bottom: 0.5rem;
  }
}
.todosapp-card__checkbox {
  position: absolute;
  top: 1.1rem;
  left: 0.75rem;
  z-index: 1;
}
.todosapp-card__action {
  position: absolute;
  top: 1.25rem;
  right: 0.75rem;
  button {
    padding: 0 0.125rem;
  }
  .todosapp-card__action__menu {
    min-width: 80px;
  }
}
.todosapp-card__detail {
  .badge {
    margin-right: 8px;
    &.badge-date {
      color: $gray-400;
      background-color: $gray-200;
      letter-spacing: 1px;
    }
    &.badge-low {
      color: $gray-800;
      background-color: $cyan;
    }
    &.badge-medium {
      color: $gray-800;
      background-color: $yellow;
    }
    &.badge-high {
      color: $gray-800;
      background-color: $pink;
    }
    &.badge-life {
      color: $white;
      background-color: $green;
    }
    &.badge-work {
      color: $white;
      background-color: $orange;
    }
    &.badge-plan {
      color: $white;
      background-color: $teal;
    }
  }
}
// datepicker customize
.b-calendar-grid {
  .b-calendar-grid-body {
    // disabled-date
    .text-dark.disabled,
    .text-muted.disabled {
      color: $gray-400 !important;
    }
    .bg-light {
      background-color: $white !important;
    }
  }
  .b-calendar-grid-help {
    &.text-muted {
      color: $gray-400 !important;
    }
    &.bg-light {
      background-color: $white !important;
    }
  }
}

// animation
.todosapp-cardlist-leave-active {
  position: absolute;
  transition: all 0.2s ease;
}
.todosapp-cardlist-enter-active {
  transition: all 0.2s ease 0.2s;
}
.todosapp-cardlist-enter,
.todosapp-cardlist-leave-to {
  opacity: 0;
  transform: translateX(-1rem);
}
.todosapp-cardlist-move {
  transition: all 0.4s ease;
}
